@model Shsict.Reservation.Mvc.Models.ReservationModels.HistoryDto

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "我的订餐记录";
}

@*TODO*@
<style type="text/css">
    .panel-history p {
        font-size: 16px !important;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#today" data-toggle="tab">今日订餐</a></li>
                    <li class="hidden"><a href="#history" data-toggle="tab">历史记录</a></li>
                </ul>
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="active tab-pane" id="today">
                        <!-- The timeline -->
                        <ul class="timeline timeline-inverse">
                            <!-- timeline time label -->
                            <li class="time-label">
                                <span class="bg-red">
                                    @Model.MenuDate.ToString("yyyy-MM-dd")
                                </span>
                            </li>
                            <!-- /.timeline-label -->

                            @if (Model.MyOrderLunch != null)
                            {
                                @Html.Partial("Reservation/_MyOrderPartial", Model.MyOrderLunch)
                            }

                            @if (Model.MyOrderSupper != null)
                            {
                                @Html.Partial("Reservation/_MyOrderPartial", Model.MyOrderSupper)
                            }

                            @if (Model.MyOrderLunch == null && Model.MyOrderSupper == null)
                            {
                                <li>
                                    <div class="timeline-item">
                                        <h3 class="timeline-header">
                                            <b>您今天没有订餐记录</b>
                                        </h3>
                                        <div class="timeline-footer">
                                            <a href="@Url.Action("Index", "Reservation")" class="btn btn-primary">
                                                <i class="fa fa-cutlery"></i> 开始预订
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            }
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="history">
                        @* TODO *@
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
