@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "系统故障";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <h1>系统故障</h1>
        <h2>请联系系统管理员</h2>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
