@{
    ViewBag.Title = "ArsenalCN 统一用户认证";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).on("pageinit", function () {
            $("#btnLogin").click(function () {
                if ($("#formLogin").valid()) {
                    document.forms["formLogin"].submit();
                }
            });
        });
    </script>
}

<div data-role="content">
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">
            请使用ACN论坛帐号登录，如没有帐号，可点击注册
        </li>
    </ul>
    <input type="button" id="btnLogin" value="登录" data-icon="check" />
</div>